/* HTML: <div class="loader"></div> */
.ButtonSpinnerloader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid black;
    border-right-color: rgb(204, 47, 170);
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}